@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --green: #6fcf97;
  --white: #f5f5f5;
  --active-text: #101010;
  --user-text: #747474;
  --modal-background:rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
